
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}





/*Fuente*/
h1{
    /*Bold*/
    font-size: 2.5rem;
    font-weight: bolder;
}
h2{
    /*Bold*/
    font-size: 2rem;
    font-weight:bold ;
}
h3{
    /*SemiBold*/
    font-size: 1.75rem;
    font-weight: 600;
}
h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
p{
    font-size: 1rem;
    font-weight: 400;
    /*Regular*/
    margin: 10px 0;
    line-height: 1.75rem;
}
i{
    font-size: 41px;
}

/*Importante*/
section {
    
    width: 100%;
    
    justify-content: center;
    align-items: center;
}

/*Contenedor del Header*/
.inicio {
    display: none;
}

.centro {
    display: none;
}

.final {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.form-check-input{
    font-size: 1.75rem;
}



.header {
    display: flex;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    
    align-items: center;
    justify-content:flex-end;

    grid-area: header;
    
    
    background-color: #4590EC;
    color: white;
    padding: 10px;
    text-align: center;

}

.navbar {
    grid-area: navbar;

    /*FIjar el navbar para que se desplaze junto al*/
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1000;


    background-color: white;

    padding: 10px;
    text-align: center;
}

.navbar a.activo{ 
    margin: 0;
    color: white;
    background-color: #1B2C53;
    border-radius: 8px;
    padding: 5px 10px;
}



.main {
    grid-area: main;
    color: black;
    text-align: center;
}

/*Carrusel*/
#hero{
    display: flex;
    justify-content: center;
    align-items: start;
    
    

}

.carrusel{
    /*oculta todo q sobresale*/
    overflow: hidden;
    width: 100%;
    max-width: 80em;
    
    
}

.elementos-carrusel{
    
    width: 400%;
    max-height: 100%;
    /*background-color: orange;*/

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    flex-wrap: 10px;

    transition: all .5s ease ;
    transform: translateX(0%);

}

.elementos-carrusel img{
    width: calc(100%/4);
    min-height:10vh;
    height: auto; 
    object-fit: cover;
    border-radius: 16px;
    
}

.puntos{
    width: 100%;
    padding: 10px;
    list-style: none;
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.punto{
    width: 32px;
    height: 32px;
    background-color: rgb(120, 120, 120);
    margin: 16px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.activo-punto{
    background-color: #4590EC;

}



.footer {
    grid-area: footer;
    color: white;
    padding: 10px;
    text-align: center;
}

/*NavBar para celular*/

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: black;
    

}



body{
    font-family: "Noto Sans", sans-serif;
    display:grid;
    gap: 10px;
    min-height: 100%;
    grid-template: 
        "header" 100px
        "navbar" 50px
        "main" auto
        "footer" 150px ; 

    ;
    background-color: #E3E3E3;
}

.habilidades{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.habilidades-column{
    flex: 25%;
}

.descarga-cv{
    display:flex ;
    align-content: center;
    justify-content: center;
    padding: 20px 0 20px 0;

}
/*Para moviles*/

#proyectos{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}

.titulo-proyectos{
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 100%;
    

}

.conjunto-proyectos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%; 
}

/*Modo Oscuro*/

.dark-mode{
    background-color: #0f0f0f;
    color: #ffffff !important;
}
.dark-mode-punto{
    background-color: #ffffff;
}

.activo-punto-dark {
    background-color: #244484; /* Color blanco para el punto activo en modo oscuro */ /* Opcional: borde para resaltar */
}

/*Responsive para tablets*/
@media (min-width: 600px){
    
    body{
        /*Indica el tamaño de las columnas*/
        /*grid-template-columns: 1fr 3fr;*/

        /*"header header" (alto de las filas) / => al final (ancho columnas)*/
        grid-template: 
            "header header" 100px
            "navbar main" auto
            "footer footer" 150px / 150px auto; 
    }

    

    .navbar{
        padding: 10px;
        display: flex;
        flex-direction: column;
    

        /*Fijar el navbar para que se desplaze junto al*/
        top: 100px;
        left: 0;
        height: 100%;
        width:150PX ;

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    

    .centro {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        gap: 10px;
    }

    /*Skills para tablets*/
    .habilidades{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    
    }
    
    .habilidades-column{
        flex: 25%;
    }

    

    
}

/*Responsive para Escritorio*/
@media (min-width: 900px){

    /*Estilo del header*/

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        grid-area: header;
        color: white;
        padding: 10px;
        text-align: center;
    
    }


    .inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    .inicio a {
        transition: ease-in-out; /* Suaviza la transición */
        color: white;
        text-decoration: none;
        padding: 10px;
    }

   
    .inicio a.activo{
        background-color: #244484;
        color: white; 
        padding: 5px 10px; 
        border-radius: 8px;
        text-decoration: none; 
    }


    .navbar{
        display: none;
    }

    /*Estilo globales para el escritorio*/
    h4{
        margin: 0;
    }

    h1{
        font-size: 3.5rem;
    }

    section {
 
        min-height: 100vh;

    }
    
    body{
        grid-template: 
            "header header header" 100px
            "main main main" auto
            "footer footer footer" 150px / 200px auto 200px; 
    }

    

    /*Estilo main*/
    .main{
        display: flex;
        flex-direction: column;
    }

    #sobre-mi{
        
        display: flex;
        justify-content: center;
        align-items: center	;
        text-align: center;

    }

    .informacion{
        display: flex;
        flex-direction: column; 
        padding: 10px;
        text-align: left;
        max-width: 800px;  
    }

    .informacion-imagen img{
        width: 100%;
    }


    /*Proyectos para escritorio*/

    .titulo-proyectos{
        
        align-items: left;
        justify-content:unset;
        width: 80%;    
       
    }

    .conjunto-proyectos{

        flex-direction: row;
        justify-content:space-around;
        align-items: unset;

    }


    /*Skills para escritorio*/
    .habilidades{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        
    }
        
    .habilidades-column{
        flex: 25%;
        gap: 10px;

    }

    .descripcion{
        width: 40%;
    }

    .descarga-cv{
        width: 70%;
        justify-content: left;
    }
}

/*fOOTER*/
.footer {
    display: flex;
    background-color: #9c9c9c;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    color: black;
}

.logo-footer h2{
    font-weight: 800;
    margin: 0;
}

.redes-sociales{
    
    align-items: stretch;
    color: black;

}

/*Nav Footer*/
.nav-footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}

.nav-footer ul li a p{
    margin: 0;
    color: black;
}

.nav-footer ul li a {
    text-decoration: none;
}

.nav-footer ul {
    text-align: left;
    list-style: none;
}
.btn-icono{
    border-width: 0;
    background-color: transparent;
}

.btn-icono:hover{
    scale: 1.05;
}

.animan:hover{
    scale: 1.05;
}

/*Cards*/
.btn i {
    font-size: 1.2em;
    margin-right: 8px; 
    vertical-align: middle; 
}
.card-body {
    display: flex;
  flex-direction: column;
  height: 100%;
}
.card-body div{
    display: flex;
    gap: 10px;
    padding: 10px 10px 10px 0px;
}

.card{
    
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-proyecto{
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
}

.dark-mode-card{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.675);
}



 .inicio a.dark-activo{
        background-color: #4590EC;
    }

.dark-mode-header { 
    background-color: #244484;
}